<main>
    <aside>
      <button id="close-btn">
        <span class="material-icons">close</span>
      </button>

      <div class="sidebar">
        <a href="/login/default" class="active" (click)="redirectDashborad()">
          <span class="material-icons">dashboard</span>
          <h4>Dashboard</h4>
        </a>
        <a href="/articles">
          <span class="material-icons" >newspaper</span>
          <h4>Articles</h4>
        </a>
        <a href="/occasion">
          <span class="material-icons">event</span>
          <h4>Occasions</h4>
        </a>
        <a href="/games">
          <span class="material-icons">extension</span>
          <h4>Games</h4>
        </a>
        <a href="/music">
          <span class="material-icons">music_note</span>
          <h4>Music</h4>
        </a>
        <a href="/wishlist">
          <span class="material-icons">favorite</span>
          <h4>Wishlist</h4>
        </a>
        <a href="/bookings">
          <span class="material-icons">list_alt</span>
          <h4>Bookings</h4>
        </a>
      </div>
      <!-- END OF SIDEBAR-->

      <div class="updates">
        <span class="material-icons">update</span>
        <h4>Updates Available</h4>
        <p>Security Updates</p>
        <p>General Updates</p>
        <a href="#">Update Now</a>
      </div>
    </aside>

    </main>
