<table>
  <td class="side">
    <main>
      <aside>
        <button id="close-btn">
          <span class="material-icons">close</span>
        </button>

        <div class="sidebar">
          <a href="/login/default">
            <span class="material-icons">dashboard</span>
            <h4>Dashboard</h4>
          </a>
          <a href="/articles">
            <span class="material-icons">newspaper</span>
            <h4>Articles</h4>
          </a>
          <a href="/occasion">
            <span class="material-icons">event</span>
            <h4>Occasions</h4>
          </a>
          <a href="/games">
            <span class="material-icons">extension</span>
            <h4>Games</h4>
          </a>
          <a href="/music" class="active">
            <span class="material-icons">music_note</span>
            <h4>Music</h4>
          </a>
          <a href="/wishlist">
            <span class="material-icons">favorite</span>
            <h4>Wishlist</h4>
          </a>
          <a href="/bookings">
            <span class="material-icons">list_alt</span>
            <h4>Bookings</h4>
          </a>
        </div>
        <!-- END OF SIDEBAR-->

        <div class="updates">
          <span class="material-icons">update</span>
          <h4>Updates Available</h4>
          <p>Security Updates</p>
          <p>General Updates</p>
          <a href="#">Update Now</a>
        </div>
      </aside>

    </main>

  </td>
  <td>
    <div class="music">
      <div class="song-1">
        <div class="info">
          <div class="img first"></div>
          <div class="titles">
            <h5>Perfect</h5>
            <p>Ed Sheeran</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="playSong()">play_arrow</i>
        </div>
      </div>
      <div class="song-2">
        <div class="info">
          <div class="img second"></div>
          <div class="titles">
            <h5>Californication</h5>
            <p>Red Hot Chili Pepers</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="two()">play_arrow</i>
        </div>
      </div>
      <div class="song-3">
        <div class="info">
          <div class="img third"></div>
          <div class="titles">
            <h5>6 INCH</h5>
            <p>beyoncé</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="three()">play_arrow</i>
        </div>
      </div>
      <div class="song-4">
        <div class="info">
          <div class="img fourth"></div>
          <div class="titles">
            <h5>Purple rain</h5>
            <p>Prince & The Revolution</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="four()">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img five"></div>
          <div class="titles">
            <h5>Levitating</h5>
            <p>Dua Lipa</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="five()">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img six"></div>
          <div class="titles">
            <h5>Anyone</h5>
            <p>Justin Bieber</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="six()">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img seven"></div>
          <div class="titles">
            <h5>Heat Waves</h5>
            <p>Glass Animals</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="seven()">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img eight"></div>
          <div class="titles">
            <h5>Without You</h5>
            <p>The Kid Laroi</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="eight()">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img nine"></div>
          <div class="titles">
            <h5>Apna Bana Le</h5>
            <p>Arijit Singh & Sachin Jigar</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="nine()">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img ten"></div>
          <div class="titles">
            <h5>Let Me Down Slowly</h5>
            <p>Alec Benjamin</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="ten()">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img a"></div>
          <div class="titles">
            <h5>I Hate You, I Love You</h5>
            <p>gnash</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="a">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img b"></div>
          <div class="titles">
            <h5>Dandelions</h5>
            <p>Ruth B</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="b">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img c"></div>
          <div class="titles">
            <h5>Play Date</h5>
            <p>Melanie Martinez</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="c">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img d"></div>
          <div class="titles">
            <h5>Until I Found You</h5>
            <p>Stephen Sanchez</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="d">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img e"></div>
          <div class="titles">
            <h5>Obessed</h5>
            <p>Muppet DJ & SECA</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="e">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img f"></div>
          <div class="titles">
            <h5>Maan Meri Jaan</h5>
            <p>King</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="f">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img g"></div>
          <div class="titles">
            <h5>One Kiss</h5>
            <p>Dua Lipa</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="g">play_arrow</i>
        </div>
      </div>
      <div class="song-1">
        <div class="info">
          <div class="img h"></div>
          <div class="titles">
            <h5>Muskurane</h5>
            <p>Arijit Singh</p>
          </div>
        </div>
        <div class="state">
          <i class="material-icons" (click)="h">play_arrow</i>
        </div>
      </div>
    </div>
  </td>
</table>
