
<section class="footer">

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <a href="#" class="logo"> <i class="fas fa-paper-plane"></i>Anti-Occasion </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ad?</p>
            <div class="share">
                <a href="#" target="_blank"><mat-icon class="icon" >facebook</mat-icon></a>
                <a href="#" target="_blank"><mat-icon class="icon" >calls</mat-icon></a>
                <a href="#" target="_blank"><mat-icon class="icon" >chat</mat-icon></a>
                <a href="#" target="_blank"><mat-icon class="icon" >video_chat</mat-icon></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>quick links</h3>
            <a href="home" class="links"><i class="fas fa-arrow-right"></i>home</a>
            <a href="login" class="links"><i class="fas fa-arrow-right"></i>login</a>
            <a href="aboutus" class="links"><i class="fas fa-arrow-right"></i>about</a>
            <a href="contactus" class="links"><i class="fas fa-arrow-right"></i>contact</a>
            <a href="login" class="links"><i class="fas fa-arrow-right" (click)="logout()"></i>logout</a>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <h3>contact info</h3>
            <p> <mat-icon class="icon" >my_location</mat-icon> mumbai, india </p>
            <p> <mat-icon class="icon" >calls</mat-icon> +919892964804 </p>
            <p> <mat-icon class="icon" >email</mat-icon> lavanyakarampuri02@gmail.com </p>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <form action="">
                <input type="email" name="" placeholder="enter your email" class="email" id="">
                <input type="submit" value="subscribe" class="btn">
            </form>
        </div>

    </div>

</section>

<div class="credit">created by <span>Lavanya Karampuri</span> | all rights reserved!</div>

<!-- footer section ends -->
