<!-- home section starts  -->

<section class="home" id="home">

    <div class="slide">
      <div class="content">
        <p>Explore More Occasions</p>
        <p>Login</p>
      </div>

    </div>

</section>

<!-- home section ends -->

<!-- booking form section starts  -->

<section class="book-form" id="book-form">

    <form action="">
        <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
            <span>which?</span>
            <input type="text" placeholder="category name" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
            <span>when?</span>
            <input type="date" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
            <span>how many?</span>
            <input type="number" placeholder="number of days/tickets" value="">
        </div>
        <input data-aos="zoom-in" data-aos-delay="600" type="submit" value="find now" class="btn">
    </form>

</section>

<!-- booking form section ends -->


<!-- banner section starts  -->

<div class="banner">

    <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <span>start your occasions</span>
        <h3>Let's Explore This World</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum praesentium amet quibusdam quam
            officia suscipit odio.</p>
        <a href="/login" class="btn">login</a>
    </div>

</div>

<!-- banner section ends -->


<!-- Event Section Starts -->

<div class="container event">
    <div class="row justify-content-center text-center">
        <div class="offset-sm-1 col-sm-5">
            <img src="assets/img/e1.jpg" class="img-fluid" alt="">
            <div class="event-content">
                <h4>Singing Occasions</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui voluptates eos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit.</span> <br>
                <button routerLink="/login">Join</button>
            </div>
        </div>

        <div class="offset-sm-1 col-sm-5">
            <img src="assets/img/e2.jpg" class="img-fluid" alt="">
            <div class="event-content">
                <h4>Party Occasions</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui voluptates eos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit.</span> <br>
                    <button routerLink="/login">Join</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="offset-sm-1 col-sm-5">
            <img src="assets/img/e3.jpg" class="img-fluid" alt="">
            <div class="event-content">
                <h4>Business Occasions</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui voluptates eos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit.</span> <br>
                    <button routerLink="/login">Join</button>
            </div>
        </div>

        <div class="offset-sm-1 col-sm-5">
            <img src="assets/img/e4.jpg" class="img-fluid" alt="">
            <div class="event-content">
                <h4>Cultural Occasions</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui voluptates eos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit.</span> <br>
                    <button routerLink="/login">Join</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="offset-sm-1 col-sm-5">
            <img src="assets/img/e5.jpg" class="img-fluid" alt="">
            <div class="event-content">
                <h4>Dancing Occasions</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui voluptates eos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit.</span> <br>
                    <button routerLink="/login">Join</button>
            </div>
        </div>

        <div class="offset-sm-1 col-sm-5">
            <img src="assets/img/e6.jpg" class="img-fluid" alt="">
            <div class="event-content">
                <h4>Wedding Occasions</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui voluptates eos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit.</span> <br>
                    <button routerLink="/login">Join</button>
            </div>
        </div>
    </div>
</div>
