<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- MATERIAL ICONS CDN-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

      <main>
        <section class="middle">
          <div class="monthly-report">
            <div class="report">
              <h3>INCOME</h3>
              <div>
                <details>
                  <h1>$100000</h1>
                  <h6 class="success">10%</h6>
                </details>
                <p class="text-muted">Compared to $0 last month</p>
              </div>
            </div>
            <div class="report">
              <h3>CLIENTS</h3>
              <div>
                <details>
                  <h1>3</h1>
                  <h6 class="success">3%</h6>
                </details>
                <p class="text-muted">Compared to 0 last month</p>
              </div>
            </div>
            <div class="report">
              <h3>BOOKINGS</h3>
              <div>
                <details>
                  <h1>3</h1>
                  <h6 class="success">3%</h6>
                </details>
                <p class="text-muted">Compared to 0 last month</p>
              </div>
            </div>
            <div class="report">
              <h3>TURNOVER</h3>
              <div>
                <details>
                  <h1>$10.5</h1>
                  <h6 class="success">5.5%</h6>
                </details>
                <p class="text-muted">Compared to $0 last month</p>
              </div>
            </div>
          </div>
          <div class="fast-payment">
            <h2>Fast Payment</h2>
            <div class="badges">
              <span class="material-icons">add</span>
            </div>
            <div class="badge">
              <span class="bg-primary"></span>
              <div>
                <h4>Venue</h4>
                <h5>$50</h5>
              </div>
            </div>
            <div class="badge">
              <span class="bg-danger"></span>
              <div>
                <h5>Dancing</h5>
                <h4>$100</h4>
              </div>
            </div>
            <div class="badge">
              <span class="bg-success"></span>
              <div>
                <h5>Singing</h5>
                <h4>$250</h4>
              </div>
            </div>
            <div class="badge">
              <span class="bg-dark"></span>
              <div>
                <h5>Birthday</h5>
                <h4>$500</h4>
              </div>
            </div>
            <div class="badge">
              <span class="bg-primary"></span>
              <div>
                <h5>Cultural</h5>
                <h4>$5000</h4>
              </div>
            </div>
            <div class="badge">
              <span class="bg-success"></span>
              <div>
                <h5>Weddings</h5>
                <h4>$25000</h4>
              </div>
            </div>
          </div>


        </section>
        <!-- END OF MIDDLE-->
        <section class="right">
          <div class="investments">
            <div class="header">
              <h1>Recent Occasions</h1>
              <a href="#">More <span class="material-icons">chevron_right</span></a>
            </div>

            <div class="investment">
              <img src="assets/img/e4.jpg">
              <h4>Cultural Occasion</h4>
              <div class="date-time">
                <p>2 Feb, 2023</p>
                <small class="text-muted">9:00pm</small>
              </div>
              <div class="clients">
                <p>1500</p>
                <small class="text-muted">Clients</small>
              </div>
              <div class="amount">
                <h4>$26000</h4>
                <small class="success">+5.44%</small>
              </div>
            </div>
            <div class="investment">
              <img src="assets/img/e3.jpg">
              <h4>Conference Meeting</h4>
              <div class="date-time">
                <p>22 Jan, 2023</p>
                <small class="text-muted">10:00am</small>
              </div>
              <div class="clients">
                <p>3500</p>
                <small class="text-muted">Clients</small>
              </div>
              <div class="amount">
                <h4>$16000</h4>
                <small class="danger">-2.30%</small>
              </div>
            </div>
            <div class="investment">
              <img src="assets/img/e5.jpg">
              <h4>Dance Competition</h4>
              <div class="date-time">
                <p>15 Jan, 2023</p>
                <small class="text-muted">3:00pm</small>
              </div>
              <div class="clients">
                <p>10000</p>
                <small class="text-muted">Clients</small>
              </div>
              <div class="amount">
                <h4>$20000</h4>
                <small class="success">+4.58%</small>
              </div>
            </div>
          </div>

          <div class="recent-transactions">
            <div class="header">
              <h2>Recent Transactions</h2>
              <a href="#">More <span class="material-icons">chevron_right</span></a>
            </div>

            <div class="transaction">
              <div class="service">
                <div class="icon bg-purple-light">
                  <span class="material-icons">event_available</span>
                </div>
                <div class="details">
                  <h4>Venue Client</h4>
                  <p>20.1.2023</p>
                </div>
              </div>
              <div class="card-details">
                <div class="card">
                  <img src="assets/img/e6.jpg">
                </div>
                <div class="details">
                  <p>*2758</p>
                  <small class="text-muted">Credit Card</small>
                </div>
              </div>
              <h4>$20000</h4>
            </div>
            <div class="transaction">
              <div class="service">
                <div class="icon bg-purple-light">
                  <span class="material-icons">event_available</span>
                </div>
                <div class="details">
                  <h4>Venue Client</h4>
                  <p>20.1.2023</p>
                </div>
              </div>
              <div class="card-details">
                <div class="card">
                  <img src="assets/img/e1.jpg">
                </div>
                <div class="details">
                  <p>*2758</p>
                  <small class="text-muted">Credit Card</small>
                </div>
              </div>
              <h4>$40000</h4>
            </div>
            <div class="transaction">
              <div class="service">
                <div class="icon bg-purple-light">
                  <span class="material-icons">event_available</span>
                </div>
                <div class="details">
                  <h4>Venue Client</h4>
                  <p>20.1.2023</p>
                </div>
              </div>
              <div class="card-details">
                <div class="card">
                  <img src="assets/img/e2.jpg">
                </div>
                <div class="details">
                  <p>*2758</p>
                  <small class="text-muted">Credit Card</small>
                </div>
              </div>
              <h4>$10000</h4>
            </div>
          </div>
        </section>
        <!-- END OF RIGHT-->
      </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./dashboard.component.js"></script>
</body>

</html>
