<h1><span>Tic</span> <span>Tac</span> <span>Toe</span></h1>
<form>
  <input type="radio" name="do" id="x"/>
  <input type="radio" name="do" id="o"/>
  <input type="radio" name="do1" id="x1"/>
  <input type="radio" name="do1" id="o1"/>
  <input type="radio" name="do2" id="x2"/>
  <input type="radio" name="do2" id="o2"/>
  <input type="radio" name="do3" id="x3"/>
  <input type="radio" name="do3" id="o3"/>
  <input type="radio" name="do4" id="x4"/>
  <input type="radio" name="do4" id="o4"/>
  <input type="radio" name="do5" id="x5"/>
  <input type="radio" name="do5" id="o5"/>
  <input type="radio" name="do6" id="x6"/>
  <input type="radio" name="do6" id="o6"/>
  <input type="radio" name="do7" id="x7"/>
  <input type="radio" name="do7" id="o7"/>
  <input type="radio" name="do8" id="x8"/>
  <input type="radio" name="do8" id="o8"/>

  <input name="do" type="radio"/>
  <label for="x" class="x do">
    <label for ="o" class="o"></label>
  </label>

  <input name="do1" type="radio"/>
  <label for="x1" class="x">
    <label for ="o1" class="o"></label>
  </label>

 <input name="do2" type="radio"/>
  <label for="x2" class="x">
    <label for ="o2" class="o"></label>
  </label>

  <input name="do3" type="radio"/>
  <label for="x3" class="x do">
    <label for ="o3" class="o"></label>
  </label>

  <input name="do4" type="radio"/>
  <label for="x4" class="x">
    <label for ="o4" class="o"></label>
  </label>

 <input name="do5" type="radio"/>
  <label for="x5" class="x">
    <label for ="o5" class="o"></label>
  </label>

  <input name="do6" type="radio"/>
  <label for="x6" class="x do">
    <label for ="o6" class="o"></label>
  </label>

  <input name="do7" type="radio"/>
  <label for="x7" class="x">
    <label for ="o7" class="o"></label>
  </label>

 <input name="do8" type="radio"/>
  <label for="x8" class="x">
    <label for ="o8" class="o"></label>
  </label>
  <button type="reset">Play Again</button>

  <div class="res ve-left"></div>
  <div class="res ve-center"></div>
  <div class="res ve-right"></div>
  <div class="res ho-top"></div>
  <div class="res ho-center"></div>
  <div class="res ho-end"></div>
  <div class="res di-right"></div>
  <div class="res di-left"></div>
</form>
