<!-- Event Section Starts -->
<table>
  <td class="side">
    <main>
      <aside>
        <button id="close-btn">
          <span class="material-icons">close</span>
        </button>

        <div class="sidebar">
          <a href="/login/default">
            <span class="material-icons">dashboard</span>
            <h4>Dashboard</h4>
          </a>
          <a href="/articles" class="active">
            <span class="material-icons">newspaper</span>
            <h4>Articles</h4>
          </a>
          <a href="/occasion">
            <span class="material-icons">event</span>
            <h4>Occasions</h4>
          </a>
          <a href="/games">
            <span class="material-icons">extension</span>
            <h4>Games</h4>
          </a>
          <a href="/music">
            <span class="material-icons">music_note</span>
            <h4>Music</h4>
          </a>
          <a href="/wishlist">
            <span class="material-icons">favorite</span>
            <h4>Wishlist</h4>
          </a>
          <a href="/bookings">
            <span class="material-icons">list_alt</span>
            <h4>Bookings</h4>
          </a>
        </div>
        <!-- END OF SIDEBAR-->

        <div class="updates">
          <span class="material-icons">update</span>
          <h4>Updates Available</h4>
          <p>Security Updates</p>
          <p>General Updates</p>
          <a href="#">Update Now</a>
        </div>
      </aside>

    </main>

  </td>

  <td align-item="left">
    <div class="section">

      <div class="header">
        UPCOMING <span>OCCASIONS</span>
      </div>

      <div class="container event">


        <div class="justify-content-center text-center">

          <div class="card">
            <div class="card-content">
              <div class="card-front-1">
                <p class="sub-title">Occasion</p>
                <h1 class="title">Resort</h1>
                <p class="sub-title">28-02-2023</p>
              </div>
              <div class="card-back-1">
                <div class="back-title">Resort</div>
                <div class="occasion-description">
                  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  <br/> Iusto ad sequi nulla. </span>
                  Ab aspernatur incidunt cumque adipisci dolores consequuntur vitae eius velit quas, veniam, tempora quae totam sed laboriosam nostrum?
                </div>
                <div class="date">
                  <span>Occasion Date: </span> 28-02-2023
                </div>
                <a href="" class="btn">Read More</a>
              </div>
            </div>
          </div>


        </div>

        <div class="justify-content-center text-center">

          <div class="card">
            <div class="card-content">
              <div class="card-front-3">
                <p class="sub-title">Occasion</p>
                <h1 class="title">Birthday</h1>
                <p class="sub-title">24-03-2023</p>
              </div>
              <div class="card-back-3">
                <div class="back-title">Birthday</div>
                <div class="occasion-description">
                  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  <br/> Iusto ad sequi nulla. </span>
                  Ab aspernatur incidunt cumque adipisci dolores consequuntur vitae eius velit quas, veniam, tempora quae totam sed laboriosam nostrum?
                </div>
                <div class="date">
                  <span>Occasion Date: </span> 24-03-2023
                </div>
                <a href="" class="btn">Read More</a>
              </div>
            </div>
          </div>


        </div>


        <div class="justify-content-center text-center">

          <div class="card">
            <div class="card-content">
              <div class="card-front-4">
                <p class="sub-title">Occasion</p>
                <h1 class="title">Wedding</h1>
                <p class="sub-title">31-03-2023</p>
              </div>
              <div class="card-back-4">
                <div class="back-title">Wedding</div>
                <div class="occasion-description">
                  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  <br/> Iusto ad sequi nulla. </span>
                  Ab aspernatur incidunt cumque adipisci dolores consequuntur vitae eius velit quas, veniam, tempora quae totam sed laboriosam nostrum?
                </div>
                <div class="date">
                  <span>Occasion Date: </span> 31-03-2023
                </div>
                <a href="" class="btn">Read More</a>
              </div>
            </div>
          </div>


        </div>


        <div class="justify-content-center text-center">

          <div class="card">
            <div class="card-content">
              <div class="card-front-5">
                <p class="sub-title">Occasion</p>
                <h1 class="title">Krishna Janmashtami</h1>
                <p class="sub-title">06-09-2023</p>
              </div>
              <div class="card-back-5">
                <div class="back-title">Krishna Janmashtami</div>
                <div class="occasion-description">
                  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  <br/> Iusto ad sequi nulla. </span>
                  Ab aspernatur incidunt cumque adipisci dolores consequuntur vitae eius velit quas, veniam, tempora quae totam sed laboriosam nostrum?
                </div>
                <div class="date">
                  <span>Occasion Date: </span> 06-09-2023
                </div>
                <a href="" class="btn">Read More</a>
              </div>
            </div>
          </div>


        </div>

        <div class="justify-content-center text-center">

          <div class="card">
            <div class="card-content">
              <div class="card-front-2">
                <p class="sub-title">Occasion</p>
                <h1 class="title">Diwali</h1>
                <p class="sub-title">12-11-2023</p>
              </div>
              <div class="card-back-2">
                <div class="back-title">Diwali</div>
                <div class="occasion-description">
                  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  <br/> Iusto ad sequi nulla. </span>
                  Ab aspernatur incidunt cumque adipisci dolores consequuntur vitae eius velit quas, veniam, tempora quae totam sed laboriosam nostrum?
                </div>
                <div class="date">
                  <span>Occasion Date: </span> 12-11-2023
                </div>
                <a href="" class="btn">Read More</a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </td>

</table>
